<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Права доступа к интернету -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZyberTest"
        tools:targetApi="31">

        <!-- Главная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsActivity" />
        <activity
            android:name=".NewsDetailActivity"
            android:parentActivityName=".NewsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewsActivity"/>
        </activity>
        <activity
            android:name=".SalesActivity"
            android:parentActivityName=".SalesActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SalesActivity"/>
        </activity>
        <activity android:name=".FullscreenImageActivity" />
    </application>
</manifest>
